<div class="release">
  <div class="release-heading">
    <h4>
      {{name}}

      @if(release?.prerelease) {
        <button disabled mat-flat-button color="accent" mat-button>PRERELEASE</button>
      }
    </h4>
    <button mat-flat-button color="accent" mat-button [matMenuTriggerFor]="menu">Program</button>

    <mat-menu #menu="matMenu">
      <button [disabled]="programDisabled" (click)="programESP()" mat-menu-item>Serial</button>
      <button [disabled]="otaDisabled" (click)="programOTA()" mat-menu-item>OTA</button>
    </mat-menu>
  </div>

  <div class="release-body">
    <markdown [data]="description"></markdown>

    <div>Artifacts:</div>
    <ul>
      @for (artifact of artifacts; track artifact.id) {
        <li>{{artifact.name}}</li>
      } @empty {
        <li>No artifacts...</li>
      }
    </ul>
  </div>

  <p class="release-footer">
    Relased on: {{ createdDate | date }} <a href="{{releaseUrl}}" class="release-link">View in GitHub</a>
  </p>
</div>