@use "@angular/material" as mat;
@use "./all" as themes;
@use "../components";

.dark-theme {
    @include mat.core-color(themes.$installer-dark-theme);
    @include mat.button-color(themes.$installer-dark-theme);
    @include mat.icon-color(themes.$installer-dark-theme);
    @include mat.menu-color(themes.$installer-dark-theme);
    @include mat.dialog-color(themes.$installer-dark-theme);
    @include mat.card-color(themes.$installer-dark-theme);
    @include mat.expansion-color(themes.$installer-dark-theme);
    @include mat.form-field-color(themes.$installer-dark-theme);
    @include mat.progress-spinner-color(themes.$installer-dark-theme);
    @include mat.progress-bar-color(themes.$installer-dark-theme);
    @include mat.select-theme(themes.$installer-dark-theme);
    @include mat.slider-theme(themes.$installer-dark-theme);
    @include components.theme(themes.$installer-dark-theme);
}
