<h2 mat-dialog-title>Programming your ESP32</h2>

<mat-dialog-content class="mat-typography">

  @if (!confirmed) {
    <div class="description-message">
      <p>
        You are about to program your ESP32 with version <strong>{{data.tag}}</strong>
      </p>
      <p>
        This will first download the release binaries from GitHub then flash them. Continue?
      </p>
    </div>
  } @else {
    <pre class="terminal-output">
      {{terminalOutput}}
    </pre>
  }
  
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button color="secondary" mat-button (click)="close()" [disabled]="programming">Cancel</button>
  <button color="accent" mat-button cdkFocusInitial (click)="next()" [disabled]="disableNext()">Next</button>
</mat-dialog-actions>