<h2 mat-dialog-title>Programming your ESP32</h2>

<mat-dialog-content class="mat-typography">

  @switch (state) {
    @case (programmingStates.WarningPrompt) {
      <div class="description-message">
        <p>
          Whilst programming your ESP it is important to <strong>not close or reload your browser</strong>.
        </p>
        <p>
          Aborting the programming could lead to your ESP being soft bricked where the only way to recover (in my testing) is to program with the Arduino IDE.
        </p>
      </div>
    }
    @case (programmingStates.ProgramPrompt) {
      <div class="description-message">
        <p>
          You are about to program your ESP32 with version <strong>{{data.tag}}</strong>
        </p>
        <p>
          This will first download the release binaries from GitHub then flash them. Begin?
        </p>
      </div>
    }
    @case (programmingStates.ProgrammingActive) {
      <pre class="terminal-output">
        {{terminalOutput}}
      </pre>
    }
    @case (programmingStates.ProgrammingError) {
      <pre class="terminal-output">
        {{terminalOutput}}
      </pre>
    }
    @case (programmingStates.ProgrammingSuccess) {
      <div class="description-message">
        <p>
          Your ESP has been programmed with version <strong>{{data.tag}}</strong>
        </p>
      </div>
    }
  }
  
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button color="secondary" mat-button (click)="close()" [disabled]="closeDisabled">Close</button>  
  <button color="accent" mat-button cdkFocusInitial (click)="next()" [disabled]="disableNext">{{nextText}}</button>
</mat-dialog-actions>