:host {
  display: block;
  padding: 10px;
}

.spacer {
  flex-grow: 1;
}

a {
  margin-right: 10px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-show-small {
  display: none;
}

@media (max-width: 720px) {
  .header-hide-small {
    display: none;
  }

  .header-show-small {
    display: block;
  }
}