:host {
  display: block;
  border-bottom: 1px solid;
  padding: 10px;
}

h1 {
  flex-grow: 1;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-show-small {
  display: none;
}

@media (max-width: 720px) {
  .header-hide-small {
    display: none;
  }

  .header-show-small {
    display: block;
  }
}