<header>
    <span class="spacer"></span>

    @for (route of routes; track route.path) {
        <a
            mat-button 
            queryParamsHandling="preserve"
            [routerLink]="route.path"
            [routerLinkActiveOptions]="{exact: true}" 
            routerLinkActive="active">
            {{route.label}}
        </a>
    } 

    <a href="https://github.com/ste2425/PSP-Bluetooth" target="_blank" mat-icon-button >
        <mat-icon svgIcon="app-github"></mat-icon>
    </a>
    
    <button mat-icon-button aria-label="Change theme" [matMenuTriggerFor]="themeMenu">
        <mat-icon>{{ (isDark$ | async) === true ? "dark_mode" : "light_mode" }}</mat-icon>
    </button>
    <mat-menu #themeMenu="matMenu">
        <button mat-menu-item (click)="changeTheme('auto')">System</button>
        <button mat-menu-item (click)="changeTheme('light')">Light</button>
        <button mat-menu-item (click)="changeTheme('dark')">Dark</button>
    </mat-menu>
</header>