<div class="section row">
	<img class="avatar" alt="avatar" src="https://ste2425.github.io/blog/images/avatar.png" />
	<p>
		Hi I'm Stephen, the creator of the PSP Bluetooth project.
	</p>
</div>

<div class="section">
	<h3>⚠ Disclaimer ⚠</h3>
	<p>
		I know little about hardware, you are free to do as you wish with this project. Sell it, modify it, ignore it and move on.

		<strong><em>However do so with the knowledge it could work perfectly or could set your house on fire.</em></strong>
	</p>
</div>

<div class="section">
	<h3>Using this for your own projects</h3>

	<p>
		Anyone can modify, distribute or even sell any of my work done here. All i ask is that i am credited for what i have done.

		If you do anything cool with project let me know and i can add you to this list!
	</p>

	<h3>People doing cool things with this project</h3>

	<h4>Retro Mods Works</h4>

	<p>
		<a href="https://www.retromodworks.com/">Retro Mods Works</a> are producing and selling built consolizers and developing portable consoles using this project.
		They have designed some really cool 3D printed shells and built some really good installation guides. Offering fully built units or DIY kits.
	</p>

	<p>
		<strong><em>Note, i am not affiliated with anyone on this list. They sell parts or all of my work with no warrenty given or implied from me.</em></strong>
	</p>
</div>