
<div class="banner-container">
	<div class="banner-media">		
		<img src="assets/bannerImage.png" />
	</div>
	<div class="banner">
		<h1>PSP Bluetooth</h1>
		<div class="banner-text">
			<img class="avatar" alt="avatar" src="https://ste2425.github.io/blog/images/avatar.png" />
			<p>
				Based in Huddersfield, UK I'm the creator of the PSP Bluetooth project. It's goal, to the use Bluetooth controllers with the PSP.
			</p>
		</div>
	</div>
</div>

<div class="disclaimer-container">
	<div class="disclaimer">
		<h3>⚠ Disclaimer ⚠</h3>
		<p>
			Please be aware, whilst I have tried my best to ensure this mod works in a correct and safe manner there is still the risk this device may malfunction.

			<strong>I am not responsible for any damage to persons or belongings from the use of this device.</strong>
		</p>
	</div>
</div>

<div class="section">
	<h3>Using this for your own projects</h3>

	<p>
		Anyone can modify, distribute or even sell any of my work done here. All i ask is that i am credited for what i have done.

		If you do anything cool with project let me know and i can add you to this list!
	</p>

	<h3>People doing cool things with this project</h3>
</div>

<div class="row">
	<div class="section">
		<h4>Retro Mods Works</h4>

		<p>
			<a href="https://www.retromodworks.com/">Retro Mods Works</a> are producing and selling built consolizers and developing portable consoles using this project.
			They have designed some really cool 3D printed shells and built some really good installation guides. Offering fully built units or DIY kits.
		</p>
	</div>
</div>

<div class="section">
	<p>
		<strong><em>Note, i am not affiliated with anyone on this list. They sell parts or all of my work with no warrenty given or implied from me.</em></strong>
	</p>
</div>