<app-panel colour="primary" borderHorizontal borderVertical>
	<div style="width: 100%;">
		<button color="accent" mat-button (click)="loadConfig()" [disabled]="loading">Load Config</button>
		<button color="accent" mat-button (click)="saveConfig()" [disabled]="!connected || saving || firmwareTooLow || loading">Save Config</button>
	
		{{version}}
	</div>
</app-panel>

@if(!connected){
	<app-panel colour="accent" borderHorizontal style="margin-top: 20px;">
		<p>
			Use this page to configure various settings.
		</p>
	</app-panel>
}

@if (firmwareTooLow) {
	<app-panel colour="accent" borderHorizontal style="margin-top: 20px;">
		<p>Your firmware version is too low to use this feature.</p>
		<p>Please upgrade to at least <strong>{{MIN_FIRMWARE_VERSION}}</strong></p>
	</app-panel>
} @else if(settings) {
	<div style="width: 75vw; margin: 0 auto;">
		<app-panel>
			<h3>LED Brightness</h3>

			<p>
				Control the brightness for the Power LED. 
				
				Note, changing the brightness of contrller RGB Led's (if your controller has that feature) can be done on the configuration page per button mapping.
			</p>

			<mat-slider
				[max]="255"
				[min]="10"
				[step]="5"
				[discrete]="true"
				[displayWith]="percentage(255)">
				<input matSliderThumb [(ngModel)]="settings.ledBrightness">
			</mat-slider>
		</app-panel>

		<app-panel colour="accent" borderHorizontal>
			<h3>Throttle Threshold</h3>

			<p>
				For controllers which have analog R2/L2 triggers. 
				Set how far the triggers need to be pressed to trigger a PSP button.
			</p>

			<mat-slider
				[max]="450"
				[min]="100"
				[step]="5"
				[discrete]="true"
				[displayWith]="percentage(450)">
				<input matSliderThumb [(ngModel)]="settings.throttleThreshold">
			</mat-slider>
		</app-panel>
		
		<app-panel>	
			<h3>Analog Threshold</h3>

			<p>
				Controlls how far the analog stick has to be moved from its center position
				in any of the four directions to trigger a PSP button press.
			</p>

			<mat-slider
				[max]="500"
				[min]="100"
				[step]="5"
				[discrete]="true"
				[displayWith]="percentage(500)">
				<input matSliderThumb [(ngModel)]="settings.analogThreshold">
			</mat-slider>
		</app-panel>	
		
		<app-panel colour="accent" borderHorizontal>	
			<h3>Low Battery Threshold</h3>

			<p>
				Controls when the low battery indicator triggers.
			</p>

			<mat-slider
				[max]="255"
				[min]="1"
				[step]="1"
				[discrete]="true"
				[displayWith]="percentage(255)">
				<input matSliderThumb [(ngModel)]="settings.batteryWarning">
			</mat-slider>
		</app-panel>

		<app-panel>	
			<p>
				⚠ <strong>Danger ahead</strong> ⚠ Setting the following settings too low can prevent your PSP from enabling TV out.
			</p>

			To test changes disconnecting/connect a controller is enough.

			<hr style="width: 100%;">

			<p>
				The boot proccess and TV out requires the PSP to first boot up <em>Before</em> the TV out button is pressed.

				If enough time is not waited before trying to press the display out button, before the PSP has fully booted TV out will not be enabled.
			</p>

			<p>
				If TV out is not being enabled, try making these delays longer untill it works.
			</p>
			
			<h3>Screen Delay</h3>

			<p>
				Once the PSP is booted controls how long the display button is pressed for to enable TV out.
			
				<strong>7 seconds is the recommended minimum.</strong>
			</p>

			<mat-slider
				[max]="15"
				[min]="6"
				[step]="1"
				[discrete]="true">
				<input matSliderThumb [(ngModel)]="screenDelay">
			</mat-slider>
			
			<h3>Cold Boot Delay</h3>

			<p>
				The first time the PSP powers on it takes longer to boot up. This controlls how long to wait for the first boot.

				<strong>13 seconds is the recommended minimum.</strong>
			</p>

			<mat-slider
				[max]="20"
				[min]="12"
				[step]="1"
				[discrete]="true">
				<input matSliderThumb [(ngModel)]="coldBootDelay">
			</mat-slider>
			
			<h3>Warm Boot Delay</h3>

			<p>
				After the initial PSP boot following boots are much quicker. This controlls how long to wait for the following boots.

				<strong>2.5 seconds is the recommended minimum.</strong>
			</p>

			<mat-slider
				[max]="20"
				[min]="1"
				[step]="1"
				[discrete]="true">
				<input matSliderThumb [(ngModel)]="warmBootDelay">
			</mat-slider>
		</app-panel>

		<app-panel colour="accent" borderHorizontal>
			<mat-checkbox [(ngModel)]="settings.useExtraCombo">Use Extra Combo</mat-checkbox>

			<p>
				By default pressing <em>Select</em> and <em>Start</em> will enable special combo's.

				This setting changes that to <em>Select</em>, <em>Start</em>, <em>L1</em> and <em>R1</em>
			</p>
		</app-panel>

		<app-panel>
			<h3>Use alternative Shutdown</h3>

			<p>By default holding the controllers <em>Home</em> button for the configured amount of time (below) will shut the PSP down.</p>

			<p>Some homebrew plugins also use holding the PSP's home button and so this can clash. Instead an alternative button combination can be used.</p>

			<p>When set holding <em>L1</em>, <em>R1</em> and <em>Start</em> will instead shutdown the PSP.</p>
			
			<mat-checkbox [(ngModel)]="settings.useAlternativeShutdown">Alternative Shutdown</mat-checkbox>

			<h4>Hold duration</h4>

			<p>How long to hold before the cnsole shuts off (in seconds)</p>

			<mat-slider
				[max]="20"
				[min]="1"
				[step]="1"
				[discrete]="true">
				<input matSliderThumb [(ngModel)]="shutdownDelay">
			</mat-slider>
		</app-panel>

		<app-panel colour="accent" borderHorizontal>
			<p>Don't forget to save at the top.</p>
		</app-panel>
			
	</div>
}