// _alert-theme.scss

@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);

  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, "primary");
  $accent-palette: map.get($color-config, "accent");
  $is-dark-theme: map.get($theme, is-dark);
  $exportBackgroundOpacity: if($is-dark-theme, 0.12, 0.06);
  $anchorColour: if($is-dark-theme, white, black);

  app-controller-button-mapping {
    border-bottom: 1px solid mat.get-theme-color($theme, primary, A100);

    &.active {
      background-color: if($is-dark-theme, #494033, #f9f1f4);
    }

    &:hover {      
      background-color: if($is-dark-theme, #494033, #f9f1f4);
    }
  }
}

@mixin typography($typography-config) {}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);

  @if $color-config !=null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);

  @if $typography-config !=null {
    @include typography($typography-config);
  }
}