<div class="d-flex">
    <div style="max-height: 550px; width: 40%;">
        <div class="mapping-header">
            <h4>Button Mappings: {{controllerMapping?.m?.length || 0}} / 30</h4>
            <button (click)="addNewMapping()" color="accent" mat-icon-button >
                <mat-icon>add_circle</mat-icon>
            </button>
        </div>

        <div style="overflow: auto; height: 100%;">       
             @for (item of controllerMapping?.m; track item) {
                <div class="mapping-item">
                    <app-controller-button-mapping style="flex-grow: 1;" [mapping]="item" (click)="activeMapping = item" [ngClass]="{ active: activeMapping === item }"></app-controller-button-mapping>
                    
                    <button (click)="removeMapping(item)" color="accent" mat-icon-button>
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </div>       
            }
        </div>
    </div>

    <div class="d-flex" style="flex-grow: 1; align-items: center; flex-direction: column;">
        @if (isAnalogStickMapping) {
            <div class="analog-warning">
                Controller analog sticks can only be mapped directly to the PSP's analog stick.
                If you wish to map a controller analog stick to a PSP button, select the direction of the analog stick.
            </div>
        }

        <div style="width: 500px; margin-top: 10px;">
            <app-psp-viewer [disableAll]="!activeMapping" [currentlyActivePin]="activeMapping?.[0]" (onChange)="onChange($event)"></app-psp-viewer>
        </div>
    
        <div style="width: 500px; padding-top: 30px;">
            <app-ds4-viewer [disableAll]="!activeMapping" [currentlyActive]="activeMapping" (onChange)="onControllerChange($event)"></app-ds4-viewer>
        </div>
    </div>
</div>

<mat-divider></mat-divider>

