<div class="d-flex">
    <div style="overflow: auto; max-height: 550px; overscroll-behavior: contain;">
        @for (item of controllerMapping?.m; track item) {
            <app-controller-button-mapping [mapping]="item" (click)="activeMapping = item" [ngClass]="{ active: activeMapping === item }"></app-controller-button-mapping>
        }
    </div>

    <div class="d-flex" style="flex-grow: 1; align-items: center; flex-direction: column;">
        @if (isAnalogStickMapping) {
            <div class="analog-warning">
                Controller analog sticks can only be mapped directly to the PSP's analog stick.
                If you wish to map a controller analog stick to a PSP button, select the direction of the analog stick.
            </div>
        }

        <div style="width: 500px">
            <app-psp-viewer [disableAll]="!activeMapping" [currentlyActivePin]="activeMapping?.[0]" (onChange)="onChange($event)"></app-psp-viewer>
        </div>
    
        <div style="width: 500px; padding-top: 30px;">
            <app-ds4-viewer [disableAll]="!activeMapping" [currentlyActive]="activeMapping" (onChange)="onControllerChange($event)"></app-ds4-viewer>
        </div>
    </div>
</div>

<mat-divider></mat-divider>

