.buttons-container, .terminal {
    padding: 10px;
}

.terminal {
    display: flex;
    justify-content: center;

    pre {        
        word-wrap: break-word;
        white-space: pre-line;
        width: 75%;
        min-height: 100px;
        padding: 10px;
    }
}

.page-container {
    width: 80%;
    margin: 0 auto;
    flex-grow: 1;
}

:host {
    display: flex;
    height: 100%;
    flex-direction: column;
}

h2 {
    margin-top: 0px;
    padding-top: 10px;
}