
<div class="buttons-container">
    <button color="accent" mat-button (click)="loadMappings()" [disabled]="loadMappingsDisabled">Load Mappings</button>
    <button color="accent" mat-button (click)="saveMappings()" [disabled]="!btDevice">Save Mappings</button>
</div>
<div class="page-container">
    @if(wrongBoardError) {
        <p>
            The device you conencted to does not appear to be the PSP Bluetooth Mod.
        </p>
    
        <p>
            Please try again and select a different device.
        </p>
    }
    
    @if(deviceNotSelectedError) {
        <p>
            A device was not selected.
        </p>
    
        <p>
            Please try again and select a different device.
        </p>
    }
    
    @if (generalError) {
        <p>
            There was an error
        </p>
    
        <p>
            {{generalError}}
        </p>
    
        <p>
            Please try again.
        </p>
    }
    
    @if (connectionError) {
        <p>
            We couldnt connect to your device, tried three times.
        Remember Web Bluetooth is an experimental technology and can be unreliable.
        </p>
    
        <p>
            It may be best to reload your browser and try again
        </p>
    }

    @for (item of configurations; track item) {
        @if (item.visible) {
            <div class="controll-bar">            
                <button (click)="back()" [disabled]="!this.configurations.length" color="accent" mat-icon-button>
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <h3 style="margin: 0px; flex-grow: 1;">Mapping Group: {{$index + 1}} / 10</h3>

                <app-colour-picker 
                    style="margin-right: 20px;"
                    [R]="item?.c?.[0]" 
                    [G]="item?.c?.[1]"
                    [B]="item?.c?.[2]"
                    [A]="item?.c?.[3]"
                    (onChange)="onColourChange(item, $event)"
                ></app-colour-picker>
                
                <button [disabled]="configurations.length < 2" (click)="deleteMapping(item)" color="accent" mat-icon-button >
                    <mat-icon>delete_forever</mat-icon>
                </button>

                <button [disabled]="configurations.length == 10" (click)="addNewControllerMapping()" color="accent" mat-icon-button >
                    <mat-icon>add_circle</mat-icon>
                </button>
    
                <button (click)="next()" [disabled]="!this.configurations.length" color="accent" mat-icon-button>
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>

            <app-controller-maping [controllerMapping]="item"></app-controller-maping>
        }
    }
    
    @if (loading) {    
      <div class="center">
        <mat-spinner></mat-spinner>
      </div>
    }
</div>

