
<div class="buttons-container">
    <button color="accent" mat-button (click)="loadMappings()" [disabled]="loadMappingsDisabled">Load Mappings</button>
    <button color="accent" mat-button (click)="loadMappings()" [disabled]="!btDevice">Reset Mappings</button>
</div>

<div class="page-container">
    @if(wrongBoardError) {
        <p>
            The device you conencted to does not appear to be the PSP Bluetooth Mod.
        </p>
    
        <p>
            Please try again and select a different device.
        </p>
    }
    
    @if(deviceNotSelectedError) {
        <p>
            A device was not selected.
        </p>
    
        <p>
            Please try again and select a different device.
        </p>
    }
    
    @if (generalError) {
        <p>
            There was an error
        </p>
    
        <p>
            {{generalError}}
        </p>
    
        <p>
            Please try again.
        </p>
    }
    
    @if (connectionError) {
        <p>
            We couldnt connect to your device, tried three times.
        Remember Web Bluetooth is an experimental technology and can be unreliable.
        </p>
    
        <p>
            It may be best to reload your browser and try again
        </p>
    }

    @for (item of configurations; track item) {
        @if (item.visible) {
            <div style="display: flex;">            
                <button (click)="back()" [disabled]="!this.configurations.length" color="accent" mat-icon-button>
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div [ngStyle]="{
                    backgroundColor: item?.cHex,
                    height: '50px',
                    flexGrow: 1,
                    flexBasis: 0
                }"></div>
                
                <p style="flex-grow: 1; flex-basis: 0">
                    Controller Number: {{item?.n}}
                </p>
    
                <button (click)="next()" [disabled]="!this.configurations.length" color="accent" mat-icon-button>
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>

            <app-controller-maping [controllerMapping]="item"></app-controller-maping>
        }
    }
    
    @if (loading) {    
      <div class="center">
        <mat-spinner></mat-spinner>
      </div>
    }
</div>

