.analog-warning {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom: 5px;
	margin-left: 15px;
	margin-right: 15px;
	width: 600px;
}

.mapping-item {
	display: flex;
	justify-content: space-between;
	min-height: 55px;
	align-items: center;
}

.mapping-header {
	display: flex;
    justify-content: space-between;
    align-items: center;

	h4 {
		padding-left: 15px;
	}
}