<app-header></app-header>

<main>
  <h2>Firmware Installer</h2>

  <p>From here you can choose the latest development firmware to flash to your ESP32. This allows you to test the latest
    features.</p>
  <p>However beware, these features will be unstable and you may experience bugs during use. If you do please log an
    issue on my Github. <small>Link in the header</small></p>

  <hr />

 
  @if($releases | async; as releases) { 
    @for (release of releases; track release.id) {
      <app-release [release]="release"></app-release>
    } @empty {
      <p>There are no relases currently.</p>
    }
  } @else {
    <div class="center">
      <mat-spinner></mat-spinner>
    </div>
  }

</main>