<app-header></app-header>

<main>
  <h2>Firmware Installer</h2>

  <p>From here you can choose the latest development firmware to flash to your ESP32. This allows you to test the latest
    features.</p>
  <p>However beware, these features will be unstable and you may experience bugs during use. If you do please log an
    issue on my Github. <small>Link in the header</small></p>

  <hr />

  @for (release of $releases | async; track release.id) {
    <app-release [artifacts]="release.assets" [name]="release.name" [description]="release.body" [createdDate]="release.created_at" [releaseUrl]="release.html_url"></app-release>
  }

</main>